:php
  /**
   * @package WordPress
   * @subpackage $$
   */
html
  body
    div!=_e('This is my opinion', '$$')
    div(op="#{data.domain}")
    div(op!="$$")
    div(op!=php_func('abc', "def", "ghi" + '$$')+"ghijk") 

