html
  body
    // div(opt="#{data.val}") test
    // div(role="abcdefg") test
    // - call_php_funcs('#{data.val}')
    div
      != call_php_funcs()
    div
      = call_php_funcs()
    div
      - call_php_funcs()
    div !=-call_php_funcs()
    div(role=call_php_funcs())
    div(role!=-call_php_funcs())

